In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv("C:/Users/shrut/OneDrive/Desktop/IRIS_dataset.csv")

In [3]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [4]:
df.shape

(150, 5)

In [5]:
df.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [7]:
df.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [8]:
print([df.min()])

[sepal_length            4.3
sepal_width             2.0
petal_length            1.0
petal_width             0.1
species         Iris-setosa
dtype: object]

In [9]:
print([df.max()])

[sepal_length               7.9
sepal_width                4.4
petal_length               6.9
petal_width                2.5
species         Iris-virginica
dtype: object]

In [14]:
df['species'].value_counts()

Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: species, dtype: int64

In [15]:
df.replace({'species':{'Iris-setosa':0 ,'Iris-versicolor':1 ,'Iris-virginica':2}} , inplace=True)

In [16]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width  species
0           5.1          3.5           1.4          0.2        0
1           4.9          3.0           1.4          0.2        0
2           4.7          3.2           1.3          0.2        0
3           4.6          3.1           1.5          0.2        0
4           5.0          3.6           1.4          0.2        0

In [17]:
x=df.drop(columns='species' , axis=1)
y = df['species']

In [18]:
x_train , x_test , y_train , y_test= train_test_split(x,y , test_size=0.2 , random_state=2)

In [19]:
x_train.shape , x_test.shape , y_train.shape , y_test.shape

((120, 4), (30, 4), (120,), (30,))

In [20]:
from sklearn.tree import DecisionTreeClassifier
classifier=DecisionTreeClassifier(criterion='gini')

In [21]:
classifier.fit(x_train , y_train)

DecisionTreeClassifier()

In [22]:
classifier.score(x_test , y_test)

0.9333333333333333

In [23]:
from sklearn.tree import DecisionTreeClassifier
classifier_entropy=DecisionTreeClassifier(criterion='entropy')
classifier_entropy.fit(x_train , y_train)
classifier_entropy.score(x_test , y_test)

0.9333333333333333

In [24]:
data=[7.3 , 2.9 , 6.3 , 1.8]
prediction= np.array([data])
pred=classifier.predict(prediction)

C:\Users\shrut\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

In [25]:
pred

array([2], dtype=int64)

In [26]:
if(pred==0):
    print("Iris-setosa")
elif(pred==1):
    print("Iris-versicolor")
else:
    print("Iris-virginica")

Iris-virginica